.contanier {
  display: flex;
  height: 65vh;
  padding-top: 80px;
  // background: blue;
  // box-shadow: 1000px #00000029;
}
.partetion {
  width: 50%;
  padding: 15px;
  height: 60vh;
}
.text_of_first_screen {
  width: 70%;
  margin-left: 10%;
  //   height: 45%;
  position: relative;
  top: 170px;
}
.Heading {
  // font-family: "Poppins";
  font-size: 55px;
  width: 179px;
  margin-bottom: 5%;
  height: 77px;
}
.para {
  top: 612px;
  left: 175px;
  width: 95%;
  height: 207px;
}

//////////////////////////////////////////////////

@media only screen and (max-width: 1025px) {
  .text_of_first_screen {
    width: 80%;
    top: 90px;
  }

  .Heading {
    font-size: 50px;
  }
  .para {
    width: 96%;
  }
}

@media only screen and (max-width: 769px) {
  .contanier {
    height: 48vh;
  }
  .text_of_first_screen {
    width: 90%;
    top: 15px;
  }
  .Heading {
    // font-family: "Poppins";
    font-size: 40px;
    width: 179px;
    margin-bottom: 0;
    height: 77px;
  }
  .para {
    width: 100%;
    font-size: 13px;
    height: 160px;
  }
}

// moblie
@media only screen and (max-width: 426px) {
}
@media only screen and (max-width: 376px) {
}
@media only screen and (max-width: 320px) {
}
