.footer {
  display: flex;
  flex-direction: column;
  //   width: 100%;
  padding: 50px 5%;
  background: #d8d7d7;
  box-shadow: 100px #00000029;
  padding-bottom: 2%;
}
.footer_about {
  font-size: 40px;
  width: 179px;
  //   margin-bottom: 5%;
  height: 70px;
}
.footer_row_2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}
.footer_column {
  font-size: 12px;
  font-weight: 570;
  line-height: 13px;
}
.footer_row_3 {
  display: flex;
  justify-content: flex-end;
  padding-right: 7%;
}
.footer_icon {
  margin: 0 14px;
}
