.main_Nav_container {
  background: #e6e6e6;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;

  width: 6vw;
  height: 100vh;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}
.icon {
  height: 30px;
  //   margin: 12px auto;
}

.profile_icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.main_nav_item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6vw;
  height: 6vh;
  border-radius: 50px;
  outline: none;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  cursor: pointer;
}

//.active add for round effect
.active_profile,
.active {
  position: absolute;
  margin-left: 6%;
  align-self: center;
  border: 2px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: linear-gradient(145deg, #cfcfcf, #f6f6f6);
  box-shadow: 50px 50px 91px #c4c4c4, -50px -50px 91px #ffffff;
  transition: 1s all ease-in-out;
}

// .active {
//   background: #f3f3f3;
//   box-shadow: inset -11px 11px 22px #d8d8d8, inset 11px -11px 22px #ffffff,
//     inset -11px 11px 22px #5c5c5c57, inset 11px -11px 22px #ffffff;
// }

// &::after,
// &::before {
//   position: relative;
//   content: "";
//   background-color: #e6e6e6;
//   width: 10px;
//   height: 10px;
//   border-top-left-radius: 20px;

//   // border-width: 0 1px 1px 0;
//   box-shadow: -11px 11px 22px #5c5c5c71, 11px -11px 22px #ffffff;

//   border: 1px solid #e6e6e6;
// }
// &::before {
//   top: -25.8px;
//   left: 60.5px;
//   transform: rotate(180deg);
// }
///@at-root
// {
//   position: relative;
//   content: "";
//   background-color: #bcbcbc;
//   top: 70%;
//   left: 18.2%;
//   transform: translate(50%, -50%);
//   width: 14px;
//   height: 8.1vh;
//   // border: 1px solid black;
//   // border-bottom-left-radius: 20px;
//   // border-top-left-radius: 20px;
//   // box-shadow: -11px 11px 22px #5c5c5c71, 11px -11px 22px #ffffff;

//   // border-width: 0 1px 1px 0;  border: 1px solid #AAA;

// }
