.nav_Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 35px;
  // background: #ececec;
  box-shadow: 3px 3px 4px var(--box_shadow);
}
.nav_right {
  display: flex;
  align-items: center;
}

.nav_item {
  width: 69px;
  margin-right: 25px;
  padding: 5px 15px;
  color: var(--text_color);
}
.nav_image {
  position: relative;
  opacity: 0;
  animation: fadein 0.5s ease-in-out forwards;
  animation-delay: 2s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
