.nav_Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 35px;
  background: #ececec;
  box-shadow: 3px 3px 4px #00000029;
}
.nav_right {
  display: flex;
  align-items: center;
}

.nav_item {
  font-family: "Poppins" sans-serif;
  width: 69px;
  margin-right: 25px;
  padding: 5px 15px;
  border: none;
  box-shadow: 3px 3px 4px #9292928f;
  border-top: 1px solid rgba(255, 255, 255, 0.438);
  border-left: 1px solid rgba(255, 255, 255, 0.438);
  //   border-left-style: outset;
  border-radius: 25px;
  text-align: center;
  color: #000000;
}
