* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}
html {
  background: var(--background);
  height: 100%;
}
html::-webkit-scrollbar {
  display: none;
}
.btn {
  font-family: "Poppins" sans-serif;
  padding: 5px 25px;
  border: none;

  border-radius: 25px;
  text-align: center;
  cursor: pointer;
}
.btn_border {
  box-shadow: 3px 3px 4px var(--box_shadow);

  /* box-shadow: 0 3px 8px  var(--box_shadow), 0 -3px 20px 0 var(--btn_border),0 3px 8px  var(--box_shadow),0 3px 8px  var(--box_shadow); */
  /* box-shadow: 0 3px 8px  #D8D7D7, 0 -3px 20px 0 #FFFFFF,0 3px -4px  #00000017,0 3px 8px  #00000005; */
  border-top: 1px solid var(--btn_border);
  /* border-left: #00000005; */

  border-left: 1px solid var(--btn_border);
}
.btn:hover {
  background-color: var(--btn_hover);
}
.btn:active {
  /* background-color: #d4d4d4cb; */
  box-shadow: 3px 3px 4px var(--btn_action_box_shadow);
  border-top: 1px solid var(--btn_active_border_top);
  border-left: 1px solid var(--btn_active_border_left);
}
