* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}
html {
  background: #ececec;
  height: 100%;
}
.btn {
  font-family: "Poppins" sans-serif;
  padding: 5px 25px;
  border: none;
  box-shadow: 3px 3px 4px #9292928f;
  border-top: 1px solid rgba(255, 255, 255, 0.438);
  border-left: 1px solid rgba(255, 255, 255, 0.438);
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
}
.btn:hover {
  background-color: #d4d4d4cb;
}
.btn:active {
  background-color: #d4d4d4cb;
  box-shadow: 3px 3px 4px #f5f5f58f;
  border-top: 1px solid rgba(145, 145, 145, 0.438);
  border-left: 1px solid rgba(255, 255, 255, 0.438);
}
